body, html, h1, h2, h3 {
  margin: 0;
  font-family: "Helvetica Neue","Arial",sans-serif;
  background: #131E31;
}

#bar {
  background: #cdd1d7 url("/images/sprite-bg.png") 0 -209px repeat-x;
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f5f7),to(#a8adba));
  height: 150px;
  border-bottom: 5px solid #838a9a;      
  clear:both;
}

#bar div {
  -webkit-border-radius: 15px;
  border-radius:         15px;
  float: left;
  margin: 25px 0 -1px 25px;
  position: relative;
  z-index: 9999;
}

#bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#bar ul li {
  float: left;
}

#bar ul li a {
  display: block;
  border-left: 0;
  padding: 25px 30px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  background: #8e959d url("/images/sprite-bg.png") 0 -254px repeat-x;
  background: -webkit-gradient(linear,left top,left bottom,from(#adb2b8),to(#6c7681));
  border: 2px solid #666;
  border-left: 0;
  color: #fff;
  text-shadow: 1px 1px 1px #676d74;
}

#bar ul li a.active {
  background: -webkit-gradient(linear,left top,left bottom,from(#8c9095),to(#495057));
}

#bar ul li:first-child a {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-left: 3px solid #666!important;      
}

#bar ul li:last-child a {
  border-left: 0!important;
  -webkit-border-top-right-radius:    25px;
  -webkit-border-bottom-right-radius: 25px;
}

.screen {
  position:absolute;
  font-size: 200%;
  display:none;
  color: white;
  top: 156px;
  left: 0px;
  margin-left: -30px;
  width:  980px;
  height: 900px;  
  text-align: center;
}

.screen.active{
  display: inline;
}

.screen h1 {
  margin-top: 200px;
}

.screen p {
  font-size: 125%;
}